
#container {
    width: 600px;
    border: 10px solid rgb(255, 225, 52);
    border-radius: 5px;
    margin: auto;
    background-color: white;
} 

.row {
    display: flex;
    
    
}

h1 {
    color: rgb(247, 242, 242);
    text-align: center;
    
}

.col {
    
    border: 1px solid black;
}

.cellHover {
    background-color: black;
}

#box {
    margin: auto;
    width: 50%;
    text-align: center;
    padding-bottom: 15px;
}

button {
    color: white;
    background-color: green;
}

body {
    background-color: rgb(194, 82, 82);
}