header {

}

#container {
    width: 600px;
    border: 1px solid black;
    
} 

.row {
    display: flex;
    
    
}

h1 {
    color: red;
}

.col {
    
    border: 1px solid black;
}

.cellHover {
    background-color: black;
}
